.menu-productos {
    display: flex;
    flex-direction: column;
    align-items: 'center';
    justify-content: 'center';
    justify-items: center;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-top: 50px;
}

p {
    color: black;
}

.botonera-productos {
    margin: 10px;
}

.list-productos-registro {
    height: 400px;
    width: 800px;
    background: rgb(146, 151, 196) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    overflow-y: scroll;
}

.fila-producto {
    background-color: gainsboro;
}

.profile-producto {
    height: 500px;
    width: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-top: 100px;
}

.formNewProd {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal {
    margin: 0 auto;
    align-items: 'center';
    justify-content: 'center';
    top: 50%;
    left: 50%;
}

/* Tamaño del scroll */

.list-productos-registro::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Estilos barra (thumb) de scroll */

.list-productos-registro::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.list-productos-registro::-webkit-scrollbar-thumb:active {
    background-color: #999999;
    border-radius: 4px;
}

.list-productos-registro::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Estilos track de scroll */

.list-productos-registro::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

.list-productos-registro::-webkit-scrollbar-track:hover, .list-productos-registro::-webkit-scrollbar-track:active {
    background: transparent;
}