.ticket-payment {
    position: relative;
    height: 400px;
    width: 450px;
    /* background: rgb(84, 163, 72) 0% 0% no-repeat padding-box; */
    background: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    margin-top: 100px;
}

.detail-payment{
    padding: 10px;
}

.total-payment{
    bottom: 0;
    /* padding-bottom: 20px; */
    font-weight: bold;
    margin-top: 0;
}

.pagos {
    position: relative;
    height: 400px;
    width: 450px;
    /* background: rgb(84, 163, 72) 0% 0% no-repeat padding-box; */
    background: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    margin-left: 100px;
    margin-top: 100px;
}

.Payment {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.modal {
    margin: 0 auto;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    top: 50%;
    left: 50%;
}


.select-payment {
    height: 20em;
    width: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-top: 100px;
}

.align-center{
    text-align: center;
}

.box-style{
    padding-bottom: 0.9em;
}

.list-items {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 250px;
    overflow-y: scroll;
}

.columnName{
    width: 250px;
}

.columnPrecio{
    margin-left: 10px;
    right: 0;
}

.btnFinalizar{
    width: 300px;
}

/* Tamaño del scroll */

.list-items::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Estilos barra (thumb) de scroll */

.list-items::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.list-items::-webkit-scrollbar-thumb:active {
    background-color: #999999;
    border-radius: 4px;
}

.list-items::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Estilos track de scroll */

.list-items::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

.list-items::-webkit-scrollbar-track:hover, .list-items::-webkit-scrollbar-track:active {
    background: transparent;
}